<div class="container">
    <h4><a href="/log">Log out</a></h4>
    <div id="themeimg">
        <img src="no-plastic-bags.png" align="middle" />
    </div>
        <h1 id="head">
            We the undersigned demand that plastics be banned by all nations.
        </h1>
        <h1>Total: {{numOfSigned}}</h1>
        <div id="container1">
            {{#signedusers}}
            <div>
                {{#if homepage}}
                	<a href="{{homepage}}" target="_blank" >{{firstn}} {{lastn}}</a>
                        {{#if age}} {{age}}{{/if}}
                        {{#if city}} <a href="/signers/{{city}}">{{city}}</a>{{/if}}
                {{else}}
                    {{firstn}} {{lastn}}
                    {{#if age}} {{age}}{{/if}}
                    {{#if city}} <a href="/signers/{{city}}"  target="_blank">{{city}}</a>{{/if}}
                {{/if}}
            </div>
            {{/signedusers}}
        </div>

</div>
